---
layout: default
---
<div id="post">
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <h3 class="date">{{ page.date | date_to_string }}</h3>
  {{ content }}
</div>

<div class="pagination">
  {% if page.previous %}
    <a href="{{ page.previous.url }}">< Previous video</a>
    {% if page.next %}
    |
    {% endif %}
  {% endif %}
  {% if page.next %}
    <a href="{{ page.next.url }}">Next video ></a>
  {% endif %}
</div>

<div id="comments">
  <div id="disqus_thread"></div>
  <script type='text/javascript'>
      var disqus_identifier = "{{ page.id }}";
      var disqus_url = "{{ site.url }}{{ page.url }}";
      (function() {
          var dsq = document.createElement("script"); dsq.type = "text/javascript"; dsq.async = true;
          dsq.src = "http://rymai-tv.disqus.com/embed.js";
          (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
      })();
  </script>
</div>
